---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="À Propos | Assalas ARAB" description="About me">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="Assalas ARAB"
				tagline="learn more about me"
			>
				<img
					width="4032"
					height="3024"
					src="/assets/at-work.jpg"
					alt="me when i was a kid"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Présentation</h2>
				<div class="content">
					<p>
						Hello, my name is Arab Assalas. I'm 22 years old and I'm in my third year at UPVD Perpignan University. Since I was young, I've been placed in environments where I didn't necessarily feel comfortable. I had to 
						learn to adapt and make use of my social skills as an effective way to improve and evolve
					</p>
					<br>
					<p>
						After pursuing an engineering science education, I decided to venture into mathematics 
						because the field intrigued me. Eventually, I redirected my focus to 
						computer science after discovering programming during my first year in
						mathematics and computer science.
					</p>
					<br>
					<p>
					Now, I evolve in an environment where I can be myself,
					but my desire to progress only continues to grow, pushing me to surpass myself and to always learn more about this world that is computer science
					</p>	
				</div>
			</section>
			<section>
				<h2 class="section-title">Formation</h2>
				<div class="content">
					<p>BAC+3 computer science</p>
					<p>Scientific Baccalaureate</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Compétences</h2>
				<div class="content">
					<p>Organized,Innovative, versatile, adaptable, disciplined</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
